// Les imports permettent d'intégrer les fichiers partials
// L'ordre importe importer les variable, puis les fonctions, le reset et le code dans l'ordre logique
@import 'utils/variables';
@import 'utils/mixins';
@import 'utils/placeholders';
@import 'utils/functions';
@import 'base/reset';
@import 'pages/home';
a {
    color: #fff;
}

header {
    // Utilisation d'une mixin
    @include layout(10px, 30px);
    background-color: $main-color;
    h1 {
        text-align: center;
        // Utilisation d'un placeholder
        @extend %title;
    }
}

header nav a {
    text-decoration: none;
}

nav {
    padding: 10px;
}

.container-link {
    text-align: center;
}

// Nesting (imbriquation)
.link {
    margin: auto;
    padding: $padding;
    background-color: $main-color;
    border-radius: multiplication(2, 5) + px;
    text-decoration: none;
    color: #fff;
    // l'élément "&" permet d'inserer le nom du selecteur dans lequel il est imbriqué
    // Ici cela va donner : .link:hover
    &:hover {
        background-color: $secondary-color;
    }
}

.hero {
    // Utilisation d'une mixin
    @include layout(20px, 30px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.card {
    width: 300px;
    height: 550px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;

    .card-img {
        width: 100%;
    }
    // l'élément "&" permet d'inserer le nom du selecteur dans lequel il est imbriqué
    // Ici cela va donner : .link:hover
    //Attention le Nesting créé des selecteurs descendant par défaut
    // L'utilisation du préfixe "&" va créer un selecteur indépendant
    &-content {
        padding: 10px;

        .card-title {
            // Utilisation d'un placeholder
            @extend %title;
            text-align: center;
            margin: 20px;
        }
        // Sass nous permet de faire des boucles
        // Ici la boucle va faire 2 tours
        @for $i from 1 through 2 {
            .card-text-#{$i} {
                // Utilisation d'une mixin
                @include paragraph(10px 10px, blue, 14px);
                // Utilisation d'un placeholder
                @extend %paragraph;
            }
        }
    }
    // l'élément "&" permet d'inserer le nom du selecteur dans lequel il est imbriqué
    // Ici cela va donner : .card:hover
    &:hover {
        box-shadow: 4px 4px 12px rgba(0, 0, random(255), 0.6);
    }
}

.card:hover {
}
